# Обязательные переменные
API_ID=ваш_api_id
API_HASH=ваш_api_hash

# Сессии аккаунтов
SESSION_STRING=строка_сессии_первого_аккаунта
# SESSION_STRING1=строка_сессии_второго_аккаунта
# SESSION_STRING2=строка_сессии_третьего_аккаунта
# ... и так далее до бесконечности
